body {

}

#banner {
  width: 100%;
 }

.titulo-principal {
  padding-left: 20px;
}

.titulo-centralizado {
  text-align: center;
}

p {
  text-align: center;
}

#missao {
  font-size: 20px;
}

/* strong seguido de "em" */
em strong {
  color: red
}

.itens {
  font-style: italic;
}

.principal {
  background: #ccc;
  padding: 30px;
}

.beneficios {
  background: #fff;
  padding: 20px;
}


ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagembeneficios {
  width: 50%
}
